@font-face
  {
  font-family: Nfont;
  src: url("../fonts/Oswald.otf");
 
    font-family: Mfont;
    src: url("../fonts/BOD_CR.otf");
 }
 .h3 {
    color: rgb(177, 30, 30);
 }
 .transfer2{display:none;}

  #text
  {
  font-family: Mfont;
  font-size: 100px;
  color: rgb(177, 30, 30);
  }
  .h4{
    font-family: Mfont;
  }

  .h5{
    font-family: Mfont;
  }

#faq{
  font-family: Mfont;
}


.razdel{
    margin-top: 50px;
}
.menu1{
    margin-top: 100px;
}


@media (max-width: 800px) { 
 
  #text
  {
  font-size: 40px;
  }
  .transfer2{display:block;}
  .transfer{display:none;}
 }