@font-face
  {
  font-family: Nfont;
  src: url("../fonts/Oswald.otf");
 
    font-family: Mfont;
    src: url("../fonts/BOD_CR.otf");
 }
 .h3 {
    color: rgb(177, 30, 30);
 }
  #text
  {
  font-family: Mfont;
  font-size: 60px;
  color: rgb(177, 30, 30);
  }
  





.razdel{
    margin-top: 50px;
}
.menu1{
    margin-top: 100px;
}