@font-face
    {   font-family: Nfont;
  src: url("../fonts/Oswald.otf");    }

@font-face
  {font-family: Mfont;
    src: url("../fonts/BOD_CR.otf");}
@font-face
    {font-family: Lfont;
      src: url("../fonts/arialnarrow.otf");}   
      
 .h2 {
    color: rgb(177, 30, 30);
    font-weight: bolder;
    font-family: Lfont;
    text-transform: uppercase;
 }
 .transfer2{display:none;}

  #text
  {
  font-family: Mfont;
  font-size: 100px;
  color: rgb(177, 30, 30);
  }
  .h4{
    font-family: Lfont;
    
  }
  .h3{
    font-family: Lfont;
    
  }
  .h5{
    font-family: Lfont;
  }

#faq{
  font-family: Lfont;
}


.razdel{
    margin-top: 50px;
}
.menu1{
    margin-top: 100px;
}


@media (max-width: 768px) { 
  #text
  {
  font-size: 60px;
  }
  .transfer2{display:block;}
  .transfer{display:none;}

  .logo{display:block;}
 }
 .nav-link{
  text-transform: uppercase;
 }
 @media (min-width: 769px) {
  .logo{display:inline;}
 } 